backend:
  type: elastic
  url: 'http://127.0.0.1:9200'
  authentication:
    apiKey: ''
  tls:
    rejectUnauthorizedct: false
  index: 'test'
  primaryId: 'endpoint.id'
  timeField: '@timestamp'
  source: 'context.category'

mappings:
  - type: 'NewProcess'
    kind: 'application'
    severity: 'context.severity'
    detectionName: 'context.detection_name'
    parentProcess: 'context.parent_process_name'
    ppid: 'context.parent_pid'
    process: 'context.process_name'
    pid: 'context.process_pid'
    user: 'context.username'
    commandLine: 'context.command_line'

  - type: 'RegistryWrite'
    kind: 'registry'
    severity: 'context.severity'
    detectionName: 'context.detection_name'
    parentProcess: 'context.parent_process_name'
    ppid: 'context.parent_pid'
    process: 'context.process_name'
    pid: 'context.process_pid'
    user: 'context.username'
    commandLine: 'context.command_line'
    registryKey: 'context.registry_key'

  - type: 'FileAccess'
    kind: 'file'
    severity: 'context.severity'
    detectionName: 'context.detection_name'
    parentProcess: 'context.parent_process_name'
    ppid: 'context.parent_pid'
    process: 'context.process_name'
    pid: 'context.process_pid'
    user: 'context.username'
    commandLine: 'context.command_line'
    filePath: 'context.file_path'

  - type: 'NetworkConnection'
    kind: 'network'
    severity: 'context.severity'
    detectionName: 'context.detection_name'
    parentProcess: 'context.parent_process_name'
    ppid: 'context.parent_pid'
    process: 'context.process_name'
    pid: 'context.process_pid'
    user: 'context.username'
    commandLine: 'context.command_line'
    networkAddress: 'context.destination'

  - type: 'TiEventTracing'
    kind: 'injection'
    severity: 'context.severity'
    detectionName: 'context.detection_name'
    parentProcess: 'context.parent_process_name'
    ppid: 'context.parent_pid'
    process: 'context.process_name'
    pid: 'context.process_pid'
    user: 'context.username'
    commandLine: 'context.command_line'
    targetProcess: 'context.target_process_name'
    targetPid: 'context.target_PID'

  - type: 'CreateThread'
    kind: 'injection'
    severity: 'context.severity'
    detectionName: 'context.detection_name'
    parentProcess: 'context.parent_process_name'
    ppid: 'context.parent_pid'
    process: 'context.process_name'
    pid: 'context.process_pid'
    user: 'context.username'
    commandLine: 'context.command_line'
    targetProcess: 'context.target_process_name'
    targetPid: 'context.target_PID'
